In [1]:
## Loading Libraries
import pandas as pd
import numpy as np
import sys
import jdatetime as jd
import os
import glob
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%%time
## Loading DATA
os.chdir(r"D:\Shareholder Data\Cleaned - Merged with Price")
all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]
SDATA = pd.concat([pd.read_csv(f,index_col=0).drop_duplicates() for f in all_filenames ])

## Marketcap Data
os.chdir(r"D:\Shareholder Data/")
mcap= pd.read_csv('mcap.csv',index_col=0)
# Conver date from string to jdatetime
mcap['True_Date'] = pd.to_datetime(mcap['True_Date'], format='%Y-%m-%d')
G = mcap.True_Date.drop_duplicates()
J = G.apply(lambda x: jd.date.fromgregorian(day=x.day,month=x.month,year=x.year))
DataOrg_date_GtoJ_dict = dict(zip(G,J))
mcap['Jalali_Date']=mcap.True_Date.map(DataOrg_date_GtoJ_dict)

Wall time: 1min 44s

In [3]:
# Mergind with Marketcap Data
SDATA.rename(columns={'MarketCap':'MarketCap_'},inplace=True)
SDATA = pd.merge(SDATA,mcap[['Symbol','Jalali_Date','MarketCap']],left_on=['Symbol','Jalali_Date'],
                 right_on=['Symbol','Jalali_Date'],how='left')
SDATA.MarketCap_ = SDATA.MarketCap_.fillna(SDATA.MarketCap)
SDATA.rename(columns={'MarketCap_':'MarketCap'},inplace=True)

In [4]:
%%time
# Conver date from string to jdatetime
SDATA['True_Date'] = pd.to_datetime(SDATA['True_Date'], format='%Y-%m-%d')
G = SDATA.True_Date.drop_duplicates()
J = G.apply(lambda x: jd.date.fromgregorian(day=x.day,month=x.month,year=x.year))
DataOrg_date_GtoJ_dict = dict(zip(G,J))
SDATA['Jalali_Date']=SDATA.True_Date.map(DataOrg_date_GtoJ_dict)

Wall time: 15.9 s

In [8]:
# Filtering and keeping only the last date in each year.
for year in list(np.arange(1387,1400,1)):
    print(year)
    temp = SDATA[SDATA.year==year]
    last_day = temp.Jalali_Date.drop_duplicates().sort_values(ascending=True).iloc[-1]
    print('*',last_day)
    df = temp[temp.Jalali_Date == last_day]
    # Saving the file
    os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
    name = 'Shareholder'+str(year)+'.csv'
    df.to_csv(name)

1387
* 1387-12-28
1388
* 1388-12-26
1389
* 1389-12-28
1390
* 1390-12-28
1391
* 1391-12-28
1392
* 1392-12-28
1393
* 1393-12-27
1394
* 1394-12-26
1395
* 1395-12-28
1396
* 1396-12-28
1397
* 1397-12-28
1398
* 1398-12-28
1399
* 1399-04-01

In [9]:
# Filtering and keeping only the last date in each month.
for year in list(np.arange(1387,1400,1)):
    print(year)
    temp = SDATA[SDATA.year==year]
    
    for month in range(1,13):
        temp_month = temp[temp.month==month]
        
        try:
            last_day = temp_month.Jalali_Date.drop_duplicates().sort_values(ascending=True).iloc[-1]
            df = temp_month[temp_month.Jalali_Date == last_day]
            # Saving the file
            os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data\MonthlyShareholder")
            name = 'Shareholder'+str(year)+'_'+str(month)+'.csv'
            df.to_csv(name)
        except:
            print('!'+str(year)+'_'+str(month)+'!')

1387
!1387_1!
!1387_2!
!1387_3!
!1387_4!
!1387_5!
!1387_6!
!1387_7!
!1387_8!
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
!1399_5!
!1399_6!
!1399_7!
!1399_8!
!1399_9!
!1399_10!
!1399_11!
!1399_12!

In [18]:
temp = SDATA[['Symbol','year']].drop_duplicates()
print('Number of Firms in each year:')
temp.groupby('year').agg('count')

year=1398
print('Number of Firms in each year-month for year', year,':')
temp = SDATA[SDATA.year==year][['month','Symbol']]
temp = temp.drop_duplicates()
temp.groupby('month').agg('count')


print('Number of Obs in each year:')
SDATA[['year','Symbol']].groupby('year').agg('count')

Number of Firms in each year:

      Symbol
year
1387     240
1388     247
1389     274
1390     304
1391     313
1392     330
1393     372
1394     387
1395     424
1396     604
1397     638
1398     683
1399     729

Number of Firms in each year-month for year 1398 :

       Symbol
month
1         618
2         619
3         621
4         631
5         617
6         614
7         631
8         633
9         640
10        656
11        623
12        677

Number of Obs in each year:

      Symbol
year
1387   90314
1388  323810
1389  320142
1390  352214
1391  378231
1392  376253
1393  400125
1394  437207
1395  479481
1396  706660
1397  730401
1398  636405
1399   12944