In [1]:
## Loading Libraries
import pandas as pd
import numpy as np
import sys
import jdatetime as jd
import os
import pickle
import io

# import power_index_calculator as px
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from functions import replace_jalalidate
from functions import find_month

# **Loading Data**

In [3]:
measures = pd.DataFrame()
balance  = pd.DataFrame()
income   = pd.DataFrame()
cashflow = pd.DataFrame()
dividend = pd.DataFrame()

for year in range(1389,1399):
    # FileNames
    os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
    file_name_measures = "Measures"+str(year)+".csv"
    file_name_balance  = "BalanceSheet"+str(year)+".csv"
    file_name_income   = "IncomeStatement"+str(year)+".csv"
    file_name_cashflow = "CashFlow"+str(year)+".csv"
    file_name_dividend = "Dividend"+str(year)+".csv"
    
    # reading and appending Data
    try:
        temp = pd.read_csv(file_name_measures,index_col=0).drop_duplicates()
        temp['Year'] = year
        measures = measures.append(temp)
    except:
        pass
    
    ###
    try:
        temp = pd.read_csv(file_name_balance,index_col=0).drop_duplicates()
        balance = balance.append(temp)
    except:
        pass
    
    ###
    try:
        temp = pd.read_csv(file_name_income,index_col=0).drop_duplicates()
        income = income.append(temp)
    except:
        pass
    
    ###
    try:
        temp = pd.read_csv(file_name_cashflow,index_col=0).drop_duplicates()
        cashflow = cashflow.append(temp)
    except:
        pass
    
    ###
    try:
        temp = pd.read_csv(file_name_dividend,index_col=0).drop_duplicates()
        dividend = dividend.append(temp)
    except:
        pass

# Merging with Balancesheet Data

In [4]:
balance_star = balance[['Firm', 'Symbol','Fin_year', 'Year', 'PPE','Tot_asset', 'Tot_lib','Book_value','Capital','Equity']]
balance_star.rename(columns={'Capital':'Capital_blnc','Equity':'Equity_blnc','Fin_year':'Fin_year_blnc'},inplace=True)
balance_star.head()

C:\Users\Mahdi\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Firm,Symbol,Fin_year_blnc,Year,PPE,Tot_asset,Tot_lib,Book_value,Capital_blnc,Equity_blnc
1,آبادگران,ثاباد,1389-12-29,1389,8038.0,282434.0,71366.0,211068.0,150000.0,211068.0
5,آبگینه,کابگن,1389-12-29,1389,70573.0,325947.0,257242.0,68705.0,93900.0,68705.0
6,آذراب,فاذر,1389-12-29,1389,59024.0,1681829.0,1436316.0,245513.0,300000.0,245513.0
7,آذریت,ساذری,1389-12-29,1389,5281.0,108071.0,84513.0,23558.0,6000.0,23558.0
14,آلومراد,فمراد,1389-12-29,1389,10717.0,46024.0,14291.0,31733.0,25000.0,31733.0

In [5]:
Merged_level1 = pd.merge(measures,balance_star,left_on=['Symbol','Year'],right_on=['Symbol','Year'],how='left')

# Merging with Income Statement Data

In [6]:
income_star = income[['Symbol','Fin_year', 'Year', 'Revenue','Cost_of_revenue', 'Gross_profit',
                      'Operating_expenses','Operating_income', 'EBT',
                      'Tax', 'Net_income',
                      'EPS', 'Capital', 'Marketcap']]

income_star.rename(columns={'Capital':'Capital_inc','Marketcap':'Marketcap_inc','EPS':'EPS_inc',
                           'Fin_year':'Fin_year_inc'},inplace=True)
income_star.head()

C:\Users\Mahdi\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Symbol,Fin_year_inc,Year,Revenue,Cost_of_revenue,Gross_profit,Operating_expenses,Operating_income,EBT,Tax,Net_income,EPS_inc,Capital_inc,Marketcap_inc
0,آ س پ,1390-06-31,1389,451559.0,234446.0,217113.0,-193.0,202887.0,188146.0,7926.0,180220.0,901.0,200000,8.254000e+11
3,لابسا,1389-12-29,1389,744412.0,595508.0,148904.0,-25839.0,99363.0,63867.0,14370.0,49497.0,206.0,240000,2.056800e+11
5,کابگن,1389-12-29,1389,182391.0,192538.0,-10147.0,35.0,-18972.0,-30524.0,NaN,-30524.0,-325.0,93900,5.352300e+10
7,ساذری,1389-12-29,1389,98579.0,65706.0,32873.0,-8598.0,14755.0,14956.0,3005.0,11951.0,1992.0,6000,2.705400e+10
8,پارتا,1389-12-29,1389,587746.0,638503.0,-50757.0,-21459.0,-108454.0,-248893.0,NaN,-248893.0,-1229.0,202500,4.050000e+11

In [7]:
Merged_level2 = pd.merge(Merged_level1,income_star,left_on=['Symbol','Year'],right_on=['Symbol','Year'],how='left')

# Merging with Cashflow Statement Data

In [8]:
cashflow_star = cashflow[['Symbol','Year','Fin_year',
                          'Operating_cash_flow','Investing_cash_flow', 'Financing_cash_flow',
                          'Begining_cash_position','Change_in_cash', 'End_cash_position']]
cashflow_star.rename(columns={'Fin_year':'Fin_year_cf'},inplace=True)
cashflow_star.head()

C:\Users\Mahdi\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Symbol,Year,Fin_year_cf,Operating_cash_flow,Investing_cash_flow,Financing_cash_flow,Begining_cash_position,Change_in_cash,End_cash_position
1,ثاباد,1389,1389-12-29,-6651.0,552.0,20000.0,432.0,1191.0,1623.0
5,کابگن,1389,1389-12-29,-136.0,-2453.0,-3827.0,1379.0,-555.0,824.0
6,فاذر,1389,1389-12-29,81507.0,5965.0,38365.0,4527.0,31953.0,36480.0
7,ساذری,1389,1389-12-29,16615.0,-765.0,2732.0,1711.0,397.0,2108.0
11,فالوم,1389,1389-12-29,163.0,-407.0,50163.0,2397.0,10400.0,12790.0

In [9]:
Merged_level3 = pd.merge(Merged_level2,cashflow_star,left_on=['Symbol','Year'],right_on=['Symbol','Year'],how='left')

# Merging with Dividend Data

In [10]:
dividend_star = dividend[['Year','Symbol', 'Earning', 'Dividend', 'Payout',
                           'EPS', 'DPS', 'Equity', 'adj_eps', 'adj_dps', 'adj_earning',
                           'adj_dividend']]

dividend_star.rename(columns={'Earning':'Earning_div','EPS':'EPS_div',
                             'Equity':'Equity_div'},inplace=True)
dividend_star.head()

C:\Users\Mahdi\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Year,Symbol,Earning_div,Dividend,Payout,EPS_div,DPS,Equity_div,adj_eps,adj_dps,adj_earning,adj_dividend
588,1389,شپلی,-20920.091496,0.0,-0.0000,-426,0,-873077.0,-1283.596481,0.000000,-63035.107557,0.000000
5307,1389,فولاژ,49514.000000,42347.5,0.8553,380,325,1909668.0,1144.992166,979.269616,149192.479209,127598.830903
6807,1389,شاراک,87600.000000,78000.0,0.8904,730,650,2996597.0,2199.590213,1958.539231,263950.825600,235024.707726
6960,1389,غدام,2028.000000,1400.0,0.6903,1014,700,NaN,3055.321200,2109.196095,6110.642401,4218.392190
5565,1389,غسالم,1257.000000,1131.0,0.8998,419,377,98032.0,1262.504520,1135.952754,3787.513559,3407.858262

In [11]:
Merged = pd.merge(Merged_level3,dividend_star,left_on=['Symbol','Year'],right_on=['Symbol','Year'],how='left')

# Unifying Data and Filling NAs

In [12]:
Merged.Equity_blnc.fillna(Merged.Equity_div,inplace=True)
Merged.Net_income.fillna(Merged.Earning_div,inplace=True)
Merged.EPS_inc.fillna(Merged.EPS_div,inplace=True)
Merged.Capital_blnc.fillna(Merged.Capital_inc,inplace=True)
Merged.Marketcap_inc.fillna(Merged.MarketCap,inplace=True)

Merged.rename(columns={'Equity_blnc':'Equity','EPS_inc':'EPS','Capital_blnc':'Capital',
                      'Marketcap_inc':'Marketcap'},inplace=True)

Merged.drop(columns=['Equity_div','Earning_div','EPS_div','Capital_inc','MarketCap'],inplace=True)

In [13]:
Merged.Fin_year_inc.fillna(Merged.Fin_year_cf,inplace=True)
Merged.Fin_year_blnc.fillna(Merged.Fin_year_inc,inplace=True)

Merged.rename(columns={'Fin_year_blnc':'Fin_year'},inplace=True)
Merged['Fin_year'] = Merged['Fin_year'].apply(lambda x: replace_jalalidate(x))
Merged['Month'] = Merged['Fin_year'].apply(lambda x: find_month(x))

In [14]:
# Selecting Columns and sorting
Data = Merged[['Id_tse','Firm','Symbol','Fin_year','Year','Month', 'Industry', 'sum_over1', 'Num_holders',
       'Largest_Owner', 'First_Second', 'First_Sumtwofour', 'Sumfive', 'Gini',
       'Herfindhal', 'SSCL', 'SSCO', 'SSDL', 'SSDO', 'BZCL', 'BZCO', 'BZDL',
       'Tot_asset', 'Tot_lib','PPE', 'Book_value','Marketcap','Capital','Equity',
       'Revenue', 'Cost_of_revenue', 'Gross_profit','Operating_expenses',
       'Operating_income', 'EBT', 'Tax', 'Net_income','EPS',
       'Operating_cash_flow', 'Investing_cash_flow','Financing_cash_flow',
       'Begining_cash_position', 'Change_in_cash','End_cash_position',
       'Dividend', 'Payout', 'DPS', 'adj_eps', 'adj_dps','adj_earning', 'adj_dividend']]

In [15]:
# Completing Firms
temp = Data[['Symbol','Firm']].sort_values(by='Symbol').dropna().drop_duplicates('Symbol')
sym_firm_dict = {k:v for (k,v) in zip(temp['Symbol'],temp['Firm'])}
Data['Firm'] = Data['Symbol'].map(sym_firm_dict)

C:\Users\Mahdi\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
Data.head()

,Id_tse,Firm,Symbol,Fin_year,Year,Month,Industry,sum_over1,Num_holders,Largest_Owner,...,Begining_cash_position,Change_in_cash,End_cash_position,Dividend,Payout,DPS,adj_eps,adj_dps,adj_earning,adj_dividend
0,17617474823279712,آ.س.پ,آ س پ,1391-06-31,1390,6.0,انبوه سازی، املاک و مستغلات,87.08,4,77.45,...,30062.0,2567.0,32629.0,NaN,NaN,780.0,2492.497706,1934.475831,NaN,NaN
1,64375097205269506,سر. پارس آریان,آریان,1390-12-29,1390,12.0,واسطه‌گری‌های مالی و پولی,86.63,14,18.38,...,17894.0,127863.0,145757.0,NaN,NaN,170.0,744.029166,421.616527,NaN,NaN
2,44834847569322522,کنتورسازی ایران,آکنتور,1390-12-29,1390,12.0,ابزارپزشکی، اپتیکی و اندازه‌گیری,78.51,5,66.88,...,10300.0,37845.0,48145.0,5250.0,0.3843,500.0,3226.606483,1240.048610,33879.368071,13020.510404
3,62952165421099192,کابل البرز,بالبر,1391-06-31,1390,6.0,ماشین آلات و دستگاه‌های برقی,63.53,5,34.90,...,55338.0,-5878.0,50554.0,0.0,0.0000,0.0,461.298083,0.000000,5258.798145,0.000000
4,46752599569017089,ایران ترانسفو,بترانس,1390-12-29,1390,12.0,ماشین آلات و دستگاه‌های برقی,36.34,4,31.69,...,138501.0,32585.0,171086.0,127500.0,1.5371,850.0,1371.493763,2108.082637,205724.064383,316212.395526

In [17]:
Data.to_csv('Merged_Data_July.csv')