In [21]:
## Loading Libraries
import pandas as pd
import numpy as np
import sys
import jdatetime as jd
import os
import pickle

# import power_index_calculator as px
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [22]:
## Loading functions
from convert_ar_characters import convert_ar_characters
from ReadingBalancesheetData import read_blnc_data
from nthMax import nth_max
from gini import gini
from find_shapley import find_shapley
from find_banzhaf import find_banzhaf
from gameTheoric_concentration import gameTheoric_concentration
from fill_shapley_banzhaf import fill_shapley_banzhaf

# **Loading Shareholder Data**

In [25]:
## Loading DATA
os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
SDATA = pd.read_csv("Shareholder1398.csv",index_col=0)

# Conver date from string to jdatetime
SDATA['True_Date'] = pd.to_datetime(SDATA['True_Date'], format='%Y-%m-%d')
G = SDATA.True_Date.drop_duplicates()
J = G.apply(lambda x: jd.date.fromgregorian(day=x.day,month=x.month,year=x.year))
DataOrg_date_GtoJ_dict = dict(zip(G,J))
SDATA['Jalali_Date']=SDATA.True_Date.map(DataOrg_date_GtoJ_dict)

SDATA.drop(columns=['High', 'Low', 'Open', 'Last', 'Volume', 'close',
       'True_Date', 'year', 'month', 'day', 'Fill_Flag','Unadjusted_close','chnk_id'],inplace=True)

In [26]:
# Creating Dataframe for saving concentration mearsurs
CMdf = SDATA.groupby('Symbol',as_index=False).agg({'Id_tse':'first','percent':'sum','ShareHolder':'count'}).rename(
    columns={'ShareHolder':'Num_holders','percent':'sum_over1'})
CMdf.reset_index(drop=True,inplace=True)

print('Number of Observation is: ',len(CMdf),'\n')

## Filtering Data
theta_sum1 = 90
theta_holder = 2


filtered = CMdf[CMdf.sum_over1>=theta_sum1]
CMdf = CMdf[CMdf.sum_over1<=theta_sum1]
print(len(filtered),' is deleted becaause their sum_above1% is equalt to or more than ',theta_sum1,'%')

filtered = CMdf[CMdf.Num_holders<=theta_holder]
CMdf = CMdf[CMdf.Num_holders>theta_holder]
print(len(filtered),' is deleted becaause their number of holder is less or equal than ',theta_holder)

print('\nNumber of remained Observation is: ',len(CMdf))

Number of Observation is:  655

122  is deleted becaause their sum_above1% is equalt to or more than  90 %
159  is deleted becaause their number of holder is less or equal than  2

Number of remained Observation is:  374

# **Concentration Measures**

## 1- Largest Owner

In [27]:
temp = SDATA.groupby('Symbol',as_index=False).agg({'percent':'max'}).rename(columns={'percent':'Largest_Owner'})
CMdf = pd.merge(CMdf,temp,left_on='Symbol',right_on='Symbol',how='left')

## 2- First/Second

In [28]:
temp = SDATA.groupby('Symbol',as_index=False).agg({'percent':{lambda x: max(x)/nth_max(x,nth=2,interval=False)}}).rename(columns={'percent':'First_Second'})
CMdf = pd.merge(CMdf,temp,left_on='Symbol',right_on='Symbol',how='left').rename(columns={('First_Second', '<lambda>'):'First_Second'})

C:\Users\Mahdi\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
C:\Users\Mahdi\Anaconda3\lib\site-packages\pandas\core\generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

## 3- First/Sumtwofour

In [29]:
temp = SDATA.groupby('Symbol',as_index=False).agg({'percent':{lambda x: max(x)/sum(nth_max(x,nth=[2,4],interval=True))}}).rename(
    columns={'percent':'First_Sumtwofour'})
CMdf = pd.merge(CMdf,temp,left_on='Symbol',right_on='Symbol',how='left').rename(columns={('First_Sumtwofour', '<lambda>'):'First_Sumtwofour'})

## 4- Sumfive

In [30]:
temp = SDATA.groupby('Symbol',as_index=False).agg({'percent':{lambda x: sum(nth_max(x,nth=[1,5],interval=True))}}).rename(columns={'percent':'Sumfive'})
CMdf = pd.merge(CMdf,temp,left_on='Symbol',right_on='Symbol',how='left').rename(columns={('Sumfive', '<lambda>'):'Sumfive'})

## 5- Gini

We calculate gini coeficient using Deaton 1997:
$$ \gamma = \frac{N+1}{N-1} - \frac{2}{\mu\times N\times(N-1)}\sum_{i=1}^N{\rho_ix_i}$$

In [31]:
temp = SDATA.groupby('Symbol',as_index=False).agg({'percent':{lambda x: gini(list(x))}}).rename(columns={'percent':'Gini'})
CMdf = pd.merge(CMdf,temp,left_on='Symbol',right_on='Symbol',how='left').rename(columns={('Gini', '<lambda>'):'Gini'})

## 6- Herfindhal

In [32]:
temp = SDATA.groupby('Symbol',as_index=False).agg({'percent':{lambda x: sum([(t/100)**2 for t in list(x)])}}).rename(columns={'percent':'Herfindhal'})
CMdf = pd.merge(CMdf,temp,left_on='Symbol',right_on='Symbol',how='left').rename(columns={('Herfindhal', '<lambda>'):'Herfindhal'})

## 7 & 8-Shapley-Shubik & Banzhaf

In [33]:
# # Initiating columns
# CMdf['SSCL'] = np.nan
# CMdf['SSCO'] = np.nan
# CMdf['SSDL'] = np.nan
# CMdf['SSDO'] = np.nan
# CMdf['BZCL'] = np.nan
# CMdf['BZCO'] = np.nan
# CMdf['BZDL'] = np.nan

os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
CMdf_load = pd.read_csv('Measures1398.csv',index_col=0)

CMdf = pd.merge(CMdf,CMdf_load[['Symbol','SSCL', 'SSCO', 'SSDL', 'SSDO', 'BZCL', 'BZCO', 'BZDL']],left_on='Symbol',right_on='Symbol',how='left')

In [34]:
%%time
data = fill_shapley_banzhaf(data = CMdf,SDATA=SDATA,fast_mode = True,time_pnt=True,major_thr = 10)
CMdf = data['CMdf']

print('len(Errors): ',len(data['Errors']))
data['Errors']
[x for x in data['Errors'] if x[2]!= 'Error: request error!']

The symbol  آریان  mode:  SSDL ,  1  from  7
The symbol  تکالا  mode:  SSDL ,  2  from  7
The symbol  سپرده  mode:  SSDL ,  3  from  7
The symbol  وپارس  mode:  SSDL ,  4  from  7
The symbol  وگردش  mode:  SSDL ,  5  from  7
The symbol  کمند  mode:  SSDL ,  6  from  7
The symbol  کیان  mode:  SSDL ,  7  from  7


**About  0  out of  7  of mising cells are filled!
len(Errors):  7
Wall time: 7min 40s

[]

In [35]:
# CMdf.loc[CMdf['SSCO']==np.inf,'SSCO'] = np.nan
# CMdf.loc[CMdf['Num_holders']==1,'First_Second'] = np.nan
# CMdf.loc[CMdf['Num_holders']==2,'First_Sumtwofour'] = np.nan
# CMdf.loc[CMdf['Num_holders']==1,'Gini'] = np.nan

os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
CMdf.to_csv('Measures1398.csv')

# **Loading Balancesheet Data and Merging**

In [37]:
blnc_data = read_blnc_data(file='98.txt')
blnc_data['book_value'] = blnc_data.Tot_asset-blnc_data.Tot_lib
blnc_data = blnc_data[blnc_data.book_value>0]

In [38]:
data_out = pd.merge(CMdf,blnc_data[['Symbol','Tot_asset', 'Tot_lib', 'Capital', 'Equity_at_year_end','Debt_Equity', 'Debt_Equity_normal', 'book_value']]
                    ,left_on='Symbol',right_on='Symbol',how='outer')

os.chdir(r"C:\Users\Mahdi\OneDrive\Master Thesis\Data")
data_out.to_csv('data_owenership96_blnc96.csv')

In [39]:
CMdf.describe()

,Id_tse,sum_over1,Num_holders,Largest_Owner,First_Second,First_Sumtwofour,Sumfive,Gini,Herfindhal,SSCL,SSCO,BZCL,BZCO,BZDL
count,3.740000e+02,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,364.000000,374.000000,374.000000,374.000000
mean,3.617226e+16,67.679652,5.935829,40.097995,5.953157,3.254174,64.059037,0.625050,0.230831,0.610875,0.206562,0.678799,0.165092,0.791573
std,2.044339e+16,18.444443,4.073869,19.268815,8.306446,4.101041,19.587436,0.196502,0.156900,0.346114,0.229094,0.360593,0.226994,0.305309
min,4.089344e+14,6.980000,3.000000,2.600000,1.000000,0.333333,6.980000,0.063057,0.001532,0.026420,0.000000,0.026489,0.000000,0.061563
25%,1.809666e+16,57.732500,4.000000,22.577500,1.620062,0.879806,52.440000,0.497135,0.100466,0.270507,0.000000,0.317647,0.000000,0.500000
50%,3.689308e+16,72.605000,5.000000,40.815000,2.700570,1.728859,68.830000,0.638521,0.211738,0.589307,0.154428,0.976630,0.005916,1.000000
75%,5.274312e+16,81.772500,7.000000,52.637500,6.193702,3.771094,79.747500,0.788575,0.316278,1.000000,0.316849,1.000000,0.285310,1.000000
max,7.174468e+16,89.990000,38.000000,85.090000,59.343066,28.746622,89.990000,0.955026,0.724515,1.000000,0.929069,1.000000,0.928318,1.000000